<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/**" use-expressions="true" name="restSecurityFilterChain" create-session="stateless">
        <http-basic/>
        <csrf disabled="true"/>

        <intercept-url pattern="/admin/users/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/profile/register" access="isAnonymous()"/>
        <intercept-url pattern="/profile/**" access="isAuthenticated()"/>

        <intercept-url pattern="/vote/**" access="isAuthenticated()"/>

        <intercept-url pattern="/meals/**" method="GET" access="permitAll()"/>
        <intercept-url pattern="/meals/**" access="hasRole('ROLE_ADMIN')"/>

        <intercept-url pattern="/restaurant/**" method="GET" access="permitAll()"/>
        <intercept-url pattern="/restaurant/**" access="hasRole('ROLE_ADMIN')"/>
    </http>

    <beans:bean class="org.springframework.security.crypto.factory.PasswordEncoderFactories" id="passwordEncoder" factory-method="createDelegatingPasswordEncoder"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>